In [1]:
from TSForecasting.TsForecasting import TimeSeriesForecast
import pandas as pd
pd.set_option("max_rows", None)

Using TensorFlow backend.

Reading all of the data

In [2]:

hall_raw = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/Hall/data_hall_raw.csv')

hall_meta = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/Hall/Hall_meta.csv')

cgm_appended = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/CGM/CGM_Analyzer_Appended.csv')

cgm_meta = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/CGM/CGM-meta.csv')

gluvarpro = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/Gluvarpro/Gluvarpro.csv')

gluvarpro_meta = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/Gluvarpro/GVP_metadata.csv')

ohio_full = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/Ohio-Data/OhioFullConsolidated.csv')

ohio_meta = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/Ohio-Data/Ohio_metadata.csv')

consolidated_paper = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/consolidatedDataForPaper.csv')

consolidated_pkg = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/consolidatedDataForPackage.csv')

consolidated_meta = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/consolidatedMetadata.csv')

***
Creating an object
***

In [3]:
obj = TimeSeriesForecast()

Object Created!

***
A description of the HALL dataset
***

In [4]:
obj.dataDescribe(hall_raw,hall_meta)

Here is a glimpse of the data:

         Display Time  GlucoseValue    subjectId
0 2014-02-03 03:42:12            93  1636-69-001
1 2014-02-03 03:47:12            93  1636-69-001
2 2014-02-03 03:52:12            93  1636-69-001
3 2014-02-03 03:57:12            95  1636-69-001
4 2014-02-03 04:02:12            96  1636-69-001

Total Readings in the data:105426

,Length of readings,Max. Glucose Value,Min. Glucose Value,MAGE Score,Days
count,57.000000,57.000000,57.000000,57.000000,57
mean,1849.578947,183.333333,51.192982,46.774794,29 days 02:20:02.333333
std,104.808149,34.955754,18.966548,17.501540,74 days 06:47:55.221313
min,1584.000000,111.000000,0.000000,21.235955,5 days 16:14:32
25%,1796.000000,153.000000,46.000000,35.487179,6 days 07:39:25
50%,1822.000000,183.000000,54.000000,43.051948,6 days 23:39:38
75%,1877.000000,204.000000,62.000000,55.710145,8 days 07:49:13
max,2361.000000,303.000000,91.000000,128.200000,423 days 11:25:54

Here is the statistical analysis of the data:

,Subject ID,Length of readings,Max. Glucose Value,Min. Glucose Value,MAGE Score,Days,Start,End
0,2133-041,1858,204,51,45.493976,8 days 02:09:26,2017-07-03 18:32:06,2017-07-11 20:41:32
1,2133-040,1792,171,59,40.560000,6 days 10:44:37,2017-06-28 13:34:52,2017-07-05 00:19:29
2,2133-039,2013,204,50,60.892857,9 days 01:34:20,2017-06-05 12:23:22,2017-06-14 13:57:42
3,2133-037,1785,153,48,39.967391,6 days 07:39:25,2017-06-05 14:11:14,2017-06-11 21:50:39
4,2133-036,1954,214,58,63.841270,8 days 15:04:26,2017-06-01 15:26:53,2017-06-10 06:31:19
5,2133-035,1830,190,47,44.032258,7 days 05:49:42,2017-06-01 17:17:00,2017-06-08 23:06:42
6,2133-033,1892,161,49,43.051948,7 days 07:04:31,2017-05-19 12:58:22,2017-05-26 20:02:53
7,2133-032,1781,147,69,34.365079,6 days 04:34:25,2017-05-19 13:31:19,2017-05-25 18:05:44
8,2133-030,1818,147,41,36.596774,6 days 18:44:36,2017-05-03 14:13:09,2017-05-10 08:57:45
9,2133-028,1850,111,45,21.235955,7 days 02:04:30,2017-05-10 00:03:32,2017-05-17 02:08:02
10,2133-027,1936,155,60,33.625000,8 days 02:13:55,2017-04-24 14:49:24,2017-05-02 17:03:19
11,2133-026,1782,166,45,37.147727,6 days 04:39:35,2017-04-19 14:10:22,2017-04-25 18:49:57
12,2133-025,1865,175,45,32.525773,6 days 18:09:38,2017-04-19 13:34:14,2017-04-26 07:43:52
13,2133-024,1821,180,41,46.387097,6 days 13:09:23,2017-04-17 14:14:20,2017-04-24 03:23:43
14,2133-023,1838,142,0,32.804598,7 days 10:09:25,2017-04-17 14:49:45,2017-04-25 00:59:10
15,2133-022,1814,204,0,61.949153,6 days 12:34:33,2017-03-22 13:34:24,2017-03-29 02:08:57
16,2133-021,1797,236,62,83.355556,6 days 07:39:27,2017-03-17 13:34:51,2017-03-23 21:14:18
17,2133-020,1826,201,40,70.418182,6 days 10:04:43,2017-03-17 12:56:49,2017-03-23 23:01:32
18,2133-019,1801,192,53,43.703125,9 days 04:34:17,2017-03-15 16:37:47,2017-03-24 21:12:04
19,2133-018,1775,303,73,128.200000,6 days 04:39:35,2017-03-14 13:30:04,2017-03-20 18:09:39
20,2133-017,1799,182,68,53.517857,6 days 10:04:23,2017-03-13 12:22:38,2017-03-19 22:27:01
21,2133-015,1835,213,58,47.797101,6 days 17:34:22,2017-01-30 13:33:25,2017-02-06 07:07:47
22,2133-013,1960,206,0,47.686567,8 days 07:49:13,2017-01-11 15:25:11,2017-01-19 23:14:24
23,2133-012,1935,148,49,35.575472,12 days 10:14:03,2017-01-11 14:49:44,2017-01-24 01:03:47
24,2133-011,1933,204,0,48.287671,9 days 05:54:03,2017-01-10 15:29:05,2017-01-19 21:23:08
25,2133-010,1832,143,62,30.287037,6 days 17:29:32,2016-11-21 15:28:45,2016-11-28 08:58:17
26,2133-009,1781,183,59,45.100000,6 days 04:34:44,2016-11-21 13:33:38,2016-11-27 18:08:22
27,2133-008,1805,137,49,30.567010,6 days 07:34:31,2016-11-22 00:03:05,2016-11-28 07:37:36
28,2133-007,1877,207,65,47.830986,7 days 23:14:19,2016-11-01 13:30:28,2016-11-09 12:44:47
29,2133-006,1777,148,54,33.437500,6 days 04:29:35,2016-11-01 00:00:51,2016-11-07 04:30:26
30,2133-004,1776,246,61,78.862069,6 days 04:29:28,2016-09-21 00:04:11,2016-09-27 04:33:39
31,2133-003,1805,190,62,58.192982,6 days 07:04:28,2016-09-02 17:51:46,2016-09-09 00:56:14
32,2133-002,1806,163,60,33.593750,6 days 10:44:31,2016-09-09 16:02:22,2016-09-16 02:46:53
33,2133-001,1814,186,47,36.361702,7 days 00:59:29,2016-08-03 00:00:14,2016-08-10 00:59:43
34,1636-70-1010,1820,186,54,53.630137,88 days 21:13:56,2016-03-02 15:29:17,2016-05-30 12:43:13
35,1636-70-1008,1760,223,51,61.707317,6 days 04:34:32,2015-12-07 13:34:23,2015-12-13 18:08:55
36,1636-70-1005,1846,225,52,60.507042,8 days 03:24:24,2016-04-06 14:13:52,2016-04-14 17:38:16
37,1636-70-1003,1895,146,46,39.755814,7 days 07:39:28,2015-12-01 00:03:03,2015-12-08 07:42:31
38,1636-70-1002,1794,168,57,42.459770,6 days 07:34:30,2015-11-12 00:02:25,2015-11-18 07:36:55
39,1636-69-123,1905,138,49,29.847619,8 days 01:34:20,2016-02-17 00:01:50,2016-02-25 01:36:10
40,1636-69-114,1796,163,76,35.773333,6 days 06:59:31,2015-10-13 00:03:47,2015-10-19 07:03:18
41,1636-69-111,1868,135,0,27.220000,21 days 00:18:50,2015-09-15 03:41:33,2015-10-06 04:00:23
42,1636-69-107,1897,195,66,42.875000,7 days 10:09:27,2015-09-24 13:33:14,2015-10-01 23:42:41
43,1636-69-104,2361,152,46,36.252101,201 days 18:23:29,2015-08-05 14:46:39,2016-02-23 09:10:08
44,1636-69-100,1880,153,41,34.094340,175 days 02:10:50,2015-09-15 00:03:15,2016-03-08 02:14:05
45,1636-69-091,1803,163,70,36.440000,6 days 10:09:39,2015-11-04 14:48:20,2015-11-11 00:57:59
46,1636-69-090,1863,195,54,57.235294,6 days 23:39:38,2016-02-10 00:02:40,2016-02-16 23:42:18
47,1636-69-069,1897,187,69,53.274510,22 days 15:48:01,2015-07-20 13:33:11,2015-08-12 05:21:12
48,1636-69-064,1584,218,43,56.810811,5 days 16:14:32,2015-03-26 14:49:42,2015-04-01 07:04:14
49,1636-69-060,1821,191,91,35.487179,6 days 14:59:31,2015-11-17 15:25:53,2015-11-24 06:25:24
50,1636-69-053,1867,183,43,41.277778,299 days 01:32:14,2015-05-07 18:34:18,2016-03-01 20:06:32
51,1636-69-048,1779,144,63,27.657143,6 days 04:34:29,2015-11-26 00:36:15,2015-12-02 05:10:44
52,1636-69-035,2180,234,69,62.825397,11 days 01:04:20,2016-01-27 00:02:25,2016-02-07 01:06:45
53,1636-69-032,1783,191,67,29.622642,6 days 04:34:32,2016-01-13 12:58:17,2016-01-19 17:32:49
54,1636-69-028,1822,216,55,44.171875,75 days 07:45:22,2015-04-02 13:33:15,2015-06-16 21:18:37
55,1636-69-026,1796,182,62,55.710145,7 days 01:29:34,2015-11-24 00:37:20,2015-12-01 02:06:54
56,1636-69-001,1846,250,64,74.276596,423 days 11:25:54,2014-02-03 03:42:12,2015-04-02 15:08:06

***
A description of the CGM Analyzer and CGM Analysis combined dataset
***

In [5]:
obj.dataDescribe(cgm_appended,cgm_meta)

Here is a glimpse of the data:

         Display Time subjectId  GlucoseValue
0 2016-06-25 09:14:00      ID01       108.000
1 2016-06-25 09:17:00      ID01       108.000
2 2016-06-25 09:20:00      ID01       108.000
3 2016-06-25 09:23:00      ID01       107.658
4 2016-06-25 09:26:00      ID01       107.496

Total Readings in the data:31791

,Length of readings,Max. Glucose Value,Min. Glucose Value,MAGE Score,Days
count,14.000000,14.000000,14.000000,14.000000,14
mean,2270.785714,246.283571,61.954286,77.748718,6 days 07:28:30
std,692.305533,93.808260,23.631486,42.317059,3 days 08:57:56.850301
min,1265.000000,163.800000,14.020000,33.992727,3 days 00:06:00
25%,1692.750000,183.442500,49.097500,50.232260,4 days 10:40:30
50%,2338.500000,208.100000,62.890000,62.651429,5 days 09:51:00
75%,2906.500000,286.477500,73.012500,85.838143,6 days 09:47:15
max,3260.000000,508.710000,95.400000,179.607679,13 days 21:59:00

Here is the statistical analysis of the data:

,Subject ID,Length of readings,Max. Glucose Value,Min. Glucose Value,MAGE Score,Days,Start,End
0,ID33,1265,163.80,39.60,33.992727,13 days 15:49:00,2019-02-21 14:59:00,2019-03-07 06:48:00
1,ID32,1337,202.00,47.00,55.223881,13 days 21:59:00,2018-08-01 12:00:00,2018-08-15 09:59:00
2,ID31,1443,182.19,66.47,48.568387,3 days 00:06:00,2016-06-06 16:55:00,2016-06-09 17:01:00
3,ID30,2472,187.20,59.40,39.564706,5 days 03:33:00,2016-12-21 07:29:00,2016-12-26 11:02:00
4,ID29,1728,195.64,75.15,57.160000,3 days 14:21:00,2016-12-19 22:42:00,2016-12-23 13:03:00
5,ID23,3260,326.83,64.53,87.135429,6 days 18:57:00,2016-10-11 15:34:00,2016-10-18 10:31:00
6,ID22,2111,170.39,34.20,56.753500,4 days 09:30:00,2016-12-29 07:35:00,2017-01-02 17:05:00
7,ID21,2686,214.20,66.60,68.142857,5 days 14:15:00,2016-11-22 07:26:00,2016-11-27 21:41:00
8,ID13,1681,246.06,94.75,81.946286,3 days 12:00:00,2016-12-01 07:44:00,2016-12-04 19:44:00
9,ID12,2980,271.80,93.60,78.646154,6 days 04:57:00,2016-08-02 08:19:00,2016-08-08 13:16:00
10,ID11,2205,316.80,95.40,124.305882,4 days 14:12:00,2017-01-07 08:52:00,2017-01-11 23:04:00
11,ID03,3097,508.71,61.25,179.607679,6 days 10:48:00,2016-05-26 06:09:00,2016-06-01 16:57:00
12,ID02,3016,170.98,14.02,40.234656,6 days 06:45:00,2016-05-26 07:50:00,2016-06-01 14:35:00
13,ID01,2510,291.37,55.39,137.199913,5 days 05:27:00,2016-06-25 09:14:00,2016-06-30 14:41:00

***
A description of the Gluvarpro dataset
***

In [6]:
obj.dataDescribe(gluvarpro,gluvarpro_meta)

Here is a glimpse of the data:

         Display Time subjectId  GlucoseValue
0 2016-06-21 00:00:00     GVP01         197.0
1 2016-06-21 00:15:00     GVP01         208.0
2 2016-06-21 00:30:00     GVP01         226.0
3 2016-06-21 00:45:00     GVP01         241.0
4 2016-06-21 01:00:00     GVP01         250.0

Total Readings in the data:46272

,Length of readings,Max. Glucose Value,Min. Glucose Value,MAGE Score,Days
count,2.000000,2.000000,2.00000,2.000000,2
mean,23136.000000,388.000000,12.50000,154.736497,286 days 11:45:00
std,31904.657967,57.982756,17.67767,49.295600,396 days 16:29:08.526824
min,576.000000,347.000000,0.00000,119.879244,5 days 23:45:00
25%,11856.000000,367.500000,6.25000,137.307871,146 days 05:45:00
50%,23136.000000,388.000000,12.50000,154.736497,286 days 11:45:00
75%,34416.000000,408.500000,18.75000,172.165124,426 days 17:45:00
max,45696.000000,429.000000,25.00000,189.593750,566 days 23:45:00

Here is the statistical analysis of the data:

,Subject ID,Length of readings,Max. Glucose Value,Min. Glucose Value,MAGE Score,Days,Start,End
0,GVP03,45696,429.0,25.0,119.879244,566 days 23:45:00,2016-04-24 00:00:00,2017-11-11 23:45:00
1,GVP01,576,347.0,0.0,189.593750,5 days 23:45:00,2016-06-21 00:00:00,2016-06-26 23:45:00

***
A description of the OHIO dataset
***

In [7]:
obj.dataDescribe(ohio_full,ohio_meta)

Here is a glimpse of the data:

         Display Time subjectId  GlucoseValue
0 2021-12-07 16:29:00     OD570           101
1 2021-12-07 16:34:00     OD570           100
2 2021-12-07 16:39:00     OD570           100
3 2021-12-07 16:44:00     OD570            99
4 2021-12-07 16:49:00     OD570            98

Total Readings in the data:166533

,Length of readings,Max. Glucose Value,Min. Glucose Value,MAGE Score,Days
count,12.000000,12.000000,12.000000,12.000000,12
mean,13877.750000,391.416667,41.583333,136.386108,54 days 16:07:58.333333
std,1058.275194,17.536758,2.937480,16.679054,2 days 04:52:22.142062
min,11444.000000,345.000000,40.000000,114.286517,50 days 07:28:00
25%,13331.750000,394.750000,40.000000,125.511687,53 days 16:33:26.500000
50%,13673.500000,400.000000,40.000000,134.900485,54 days 21:50:00
75%,14724.250000,400.000000,41.250000,144.084935,56 days 05:14:08.250000
max,15431.000000,400.000000,48.000000,176.277311,57 days 17:56:00

Here is the statistical analysis of the data:

,Subject ID,Length of readings,Max. Glucose Value,Min. Glucose Value,MAGE Score,Days,Start,End
0,OD596,13620,367,40,124.296748,57 days 17:56:00,2027-04-09 16:15:00,2027-06-06 10:11:00
1,OD591,13607,397,40,131.562874,54 days 04:07:00,2021-11-30 17:06:00,2022-01-23 21:13:00
2,OD588,15431,400,40,114.286517,55 days 12:05:00,2021-08-30 11:53:00,2021-10-24 23:58:00
3,OD584,14815,400,40,143.393293,56 days 09:29:00,2025-05-14 00:03:00,2025-07-09 09:32:00
4,OD575,14456,400,40,138.238095,54 days 22:25:00,2021-11-17 12:04:00,2022-01-11 10:29:00
5,OD570,13727,388,46,149.743169,50 days 07:28:00,2021-12-07 16:29:00,2022-01-26 23:57:00
6,OD567,13247,400,40,146.159864,56 days 23:07:43,2026-12-28 00:04:30,2027-02-22 23:12:13
7,OD563,14694,400,40,118.305263,54 days 19:40:00,2021-09-13 12:33:00,2021-11-07 08:13:00
8,OD559,13310,400,40,176.277311,51 days 22:21:00,2021-12-07 01:17:00,2022-01-27 23:38:00
9,OD552,11444,345,45,125.916667,52 days 05:52:46,2025-04-16 11:17:05,2025-06-07 17:09:51
10,OD544,13339,400,48,138.623529,54 days 21:15:00,2027-05-11 00:02:00,2027-07-04 21:17:00
11,OD540,14843,400,40,129.829971,56 days 03:49:11,2027-05-19 11:36:29,2027-07-14 15:25:40

***
A description of the consolidated dataset for the paper

(cgmanalysis, CGManalyzer, gluvarpro, Ohio)
***

In [8]:
obj.dataDescribe(consolidated_paper,consolidated_meta)

Here is a glimpse of the data:

         Display Time subjectId  GlucoseValue
0 2016-06-21 00:00:00     GVP01         197.0
1 2016-06-21 00:15:00     GVP01         208.0
2 2016-06-21 00:30:00     GVP01         226.0
3 2016-06-21 00:45:00     GVP01         241.0
4 2016-06-21 01:00:00     GVP01         250.0

Total Readings in the data:212853

,Length of readings,Max. Glucose Value,Min. Glucose Value,MAGE Score,Days
count,28.000000,28.000000,28.000000,28.000000,28
mean,7601.892857,317.106071,49.691429,108.196373,42 days 14:19:02.678571
std,8762.341947,98.519774,22.217624,45.395263,104 days 12:44:49.738624
min,576.000000,163.800000,0.000000,33.992727,3 days 00:06:00
25%,2181.500000,211.150000,40.000000,65.397143,5 days 12:03:00
50%,3178.500000,346.000000,42.500000,120.877433,13 days 18:54:00
75%,10903.250000,400.000000,62.070000,139.814124,45 days 11:30:00
max,45696.000000,508.710000,95.400000,189.593750,566 days 23:45:00

Here is the statistical analysis of the data:

,Subject ID,Length of readings,Max. Glucose Value,Min. Glucose Value,MAGE Score,Days,Start,End
0,OD596,10877,367.00,40.00,121.875622,47 days 07:44:00,2027-04-09 16:15:00,2027-05-26 23:59:00
1,OD591,10847,397.00,40.00,133.250923,44 days 06:52:00,2021-11-30 17:06:00,2022-01-13 23:58:00
2,OD588,12640,400.00,40.00,112.819398,45 days 12:02:00,2021-08-30 11:53:00,2021-10-14 23:55:00
3,OD584,12150,400.00,40.00,143.566308,45 days 23:53:00,2025-05-14 00:03:00,2025-06-28 23:56:00
4,OD575,11866,400.00,40.00,140.910156,45 days 11:51:00,2021-11-17 12:04:00,2022-01-01 23:55:00
5,OD570,10982,377.00,46.00,145.633333,40 days 07:30:00,2021-12-07 16:29:00,2022-01-16 23:59:00
6,OD567,10858,400.00,40.00,145.016461,46 days 23:54:51,2026-12-28 00:04:30,2027-02-12 23:59:21
7,OD563,12124,400.00,40.00,119.387931,45 days 11:23:00,2021-09-13 12:33:00,2021-10-28 23:56:00
8,OD559,10796,400.00,40.00,179.030303,41 days 22:39:00,2021-12-07 01:17:00,2022-01-17 23:56:00
9,OD552,9080,345.00,45.00,125.322917,38 days 12:42:09,2025-04-16 11:17:05,2025-05-24 23:59:14
10,OD544,10623,400.00,48.00,139.448780,43 days 23:53:00,2027-05-11 00:02:00,2027-06-23 23:55:00
11,OD540,11947,369.00,40.00,125.281250,45 days 12:20:15,2027-05-19 11:36:29,2027-07-03 23:56:44
12,ID33,1265,163.80,39.60,33.992727,13 days 15:49:00,2019-02-21 14:59:00,2019-03-07 06:48:00
13,ID32,1337,202.00,47.00,55.223881,13 days 21:59:00,2018-08-01 12:00:00,2018-08-15 09:59:00
14,ID31,1443,182.19,66.47,48.568387,3 days 00:06:00,2016-06-06 16:55:00,2016-06-09 17:01:00
15,ID30,2472,187.20,59.40,39.564706,5 days 03:33:00,2016-12-21 07:29:00,2016-12-26 11:02:00
16,ID29,1728,195.64,75.15,57.160000,3 days 14:21:00,2016-12-19 22:42:00,2016-12-23 13:03:00
17,ID23,3260,326.83,64.53,87.135429,6 days 18:57:00,2016-10-11 15:34:00,2016-10-18 10:31:00
18,ID22,2111,170.39,34.20,56.753500,4 days 09:30:00,2016-12-29 07:35:00,2017-01-02 17:05:00
19,ID21,2686,214.20,66.60,68.142857,5 days 14:15:00,2016-11-22 07:26:00,2016-11-27 21:41:00
20,ID13,1681,246.06,94.75,81.946286,3 days 12:00:00,2016-12-01 07:44:00,2016-12-04 19:44:00
21,ID12,2980,271.80,93.60,78.646154,6 days 04:57:00,2016-08-02 08:19:00,2016-08-08 13:16:00
22,ID11,2205,316.80,95.40,124.305882,4 days 14:12:00,2017-01-07 08:52:00,2017-01-11 23:04:00
23,ID03,3097,508.71,61.25,179.607679,6 days 10:48:00,2016-05-26 06:09:00,2016-06-01 16:57:00
24,ID02,3016,170.98,14.02,40.234656,6 days 06:45:00,2016-05-26 07:50:00,2016-06-01 14:35:00
25,ID01,2510,291.37,55.39,137.199913,5 days 05:27:00,2016-06-25 09:14:00,2016-06-30 14:41:00
26,GVP03,45696,429.00,25.00,119.879244,566 days 23:45:00,2016-04-24 00:00:00,2017-11-11 23:45:00
27,GVP01,576,347.00,0.00,189.593750,5 days 23:45:00,2016-06-21 00:00:00,2016-06-26 23:45:00

***
A description of the consolidated dataset for the package
(cgmanalysis, CGManalyzer, gluvarpro, Ohio, Hall)
***

In [9]:
obj.dataDescribe(consolidated_pkg,consolidated_meta)

Here is a glimpse of the data:

         Display Time subjectId  GlucoseValue
0 2016-06-21 00:00:00     GVP01         197.0
1 2016-06-21 00:15:00     GVP01         208.0
2 2016-06-21 00:30:00     GVP01         226.0
3 2016-06-21 00:45:00     GVP01         241.0
4 2016-06-21 01:00:00     GVP01         250.0

Total Readings in the data:316527

,Length of readings,Max. Glucose Value,Min. Glucose Value,MAGE Score,Days
count,88.000000,88.000000,88.000000,88.000000,88
mean,3596.897727,225.158750,54.401818,66.413985,18 days 02:02:08.431818
std,5608.523425,88.449577,15.749254,41.071826,60 days 15:06:20.611443
min,576.000000,111.000000,0.000000,21.235955,2 days 01:54:50
25%,1778.500000,165.450000,44.750000,36.557581,6 days 04:34:32
50%,1821.000000,191.500000,52.500000,48.596693,6 days 12:51:58
75%,2128.250000,246.015000,64.132500,79.633123,8 days 02:10:33.250000
max,45696.000000,508.710000,95.400000,189.593750,566 days 23:45:00

Here is the statistical analysis of the data:

,Subject ID,Length of readings,Max. Glucose Value,Min. Glucose Value,MAGE Score,Days,Start,End
0,OD596,10877,367.00,40.00,121.875622,47 days 07:44:00,2027-04-09 16:15:00,2027-05-26 23:59:00
1,OD591,10847,397.00,40.00,133.250923,44 days 06:52:00,2021-11-30 17:06:00,2022-01-13 23:58:00
2,OD588,12640,400.00,40.00,112.819398,45 days 12:02:00,2021-08-30 11:53:00,2021-10-14 23:55:00
3,OD584,12150,400.00,40.00,143.566308,45 days 23:53:00,2025-05-14 00:03:00,2025-06-28 23:56:00
4,OD575,11866,400.00,40.00,140.910156,45 days 11:51:00,2021-11-17 12:04:00,2022-01-01 23:55:00
5,OD570,10982,377.00,46.00,145.633333,40 days 07:30:00,2021-12-07 16:29:00,2022-01-16 23:59:00
6,OD567,10858,400.00,40.00,145.016461,46 days 23:54:51,2026-12-28 00:04:30,2027-02-12 23:59:21
7,OD563,12124,400.00,40.00,119.387931,45 days 11:23:00,2021-09-13 12:33:00,2021-10-28 23:56:00
8,OD559,10796,400.00,40.00,179.030303,41 days 22:39:00,2021-12-07 01:17:00,2022-01-17 23:56:00
9,OD552,9080,345.00,45.00,125.322917,38 days 12:42:09,2025-04-16 11:17:05,2025-05-24 23:59:14
10,OD544,10623,400.00,48.00,139.448780,43 days 23:53:00,2027-05-11 00:02:00,2027-06-23 23:55:00
11,OD540,11947,369.00,40.00,125.281250,45 days 12:20:15,2027-05-19 11:36:29,2027-07-03 23:56:44
12,ID33,1265,163.80,39.60,33.992727,13 days 15:49:00,2019-02-21 14:59:00,2019-03-07 06:48:00
13,ID32,1337,202.00,47.00,55.223881,13 days 21:59:00,2018-08-01 12:00:00,2018-08-15 09:59:00
14,ID31,1443,182.19,66.47,48.568387,3 days 00:06:00,2016-06-06 16:55:00,2016-06-09 17:01:00
15,ID30,2472,187.20,59.40,39.564706,5 days 03:33:00,2016-12-21 07:29:00,2016-12-26 11:02:00
16,ID29,1728,195.64,75.15,57.160000,3 days 14:21:00,2016-12-19 22:42:00,2016-12-23 13:03:00
17,ID23,3260,326.83,64.53,87.135429,6 days 18:57:00,2016-10-11 15:34:00,2016-10-18 10:31:00
18,ID22,2111,170.39,34.20,56.753500,4 days 09:30:00,2016-12-29 07:35:00,2017-01-02 17:05:00
19,ID21,2686,214.20,66.60,68.142857,5 days 14:15:00,2016-11-22 07:26:00,2016-11-27 21:41:00
20,ID13,1681,246.06,94.75,81.946286,3 days 12:00:00,2016-12-01 07:44:00,2016-12-04 19:44:00
21,ID12,2980,271.80,93.60,78.646154,6 days 04:57:00,2016-08-02 08:19:00,2016-08-08 13:16:00
22,ID11,2205,316.80,95.40,124.305882,4 days 14:12:00,2017-01-07 08:52:00,2017-01-11 23:04:00
23,ID03,3097,508.71,61.25,179.607679,6 days 10:48:00,2016-05-26 06:09:00,2016-06-01 16:57:00
24,ID02,3016,170.98,14.02,40.234656,6 days 06:45:00,2016-05-26 07:50:00,2016-06-01 14:35:00
25,ID01,2510,291.37,55.39,137.199913,5 days 05:27:00,2016-06-25 09:14:00,2016-06-30 14:41:00
26,GVP03,45696,429.00,25.00,119.879244,566 days 23:45:00,2016-04-24 00:00:00,2017-11-11 23:45:00
27,GVP01,576,347.00,0.00,189.593750,5 days 23:45:00,2016-06-21 00:00:00,2016-06-26 23:45:00
28,2133-041,1858,204.00,51.00,45.493976,8 days 02:09:26,2017-07-03 18:32:06,2017-07-11 20:41:32
29,2133-040,1792,171.00,59.00,40.560000,6 days 10:44:37,2017-06-28 13:34:52,2017-07-05 00:19:29
30,2133-039,2013,204.00,50.00,60.892857,9 days 01:34:20,2017-06-05 12:23:22,2017-06-14 13:57:42
31,2133-037,1785,153.00,48.00,39.967391,6 days 07:39:25,2017-06-05 14:11:14,2017-06-11 21:50:39
32,2133-036,1954,214.00,58.00,63.841270,8 days 15:04:26,2017-06-01 15:26:53,2017-06-10 06:31:19
33,2133-035,1830,190.00,47.00,44.032258,7 days 05:49:42,2017-06-01 17:17:00,2017-06-08 23:06:42
34,2133-033,1892,161.00,49.00,43.051948,7 days 07:04:31,2017-05-19 12:58:22,2017-05-26 20:02:53
35,2133-032,1781,147.00,69.00,34.365079,6 days 04:34:25,2017-05-19 13:31:19,2017-05-25 18:05:44
36,2133-030,1818,147.00,41.00,36.596774,6 days 18:44:36,2017-05-03 14:13:09,2017-05-10 08:57:45
37,2133-028,1850,111.00,45.00,21.235955,7 days 02:04:30,2017-05-10 00:03:32,2017-05-17 02:08:02
38,2133-027,1936,155.00,60.00,33.625000,8 days 02:13:55,2017-04-24 14:49:24,2017-05-02 17:03:19
39,2133-026,1782,166.00,45.00,37.147727,6 days 04:39:35,2017-04-19 14:10:22,2017-04-25 18:49:57
40,2133-025,1865,175.00,45.00,32.525773,6 days 18:09:38,2017-04-19 13:34:14,2017-04-26 07:43:52
41,2133-024,1821,180.00,41.00,46.387097,6 days 13:09:23,2017-04-17 14:14:20,2017-04-24 03:23:43
42,2133-023,1838,142.00,44.00,31.505882,7 days 10:09:25,2017-04-17 14:49:45,2017-04-25 00:59:10
43,2133-022,1814,204.00,40.00,60.593220,6 days 12:34:33,2017-03-22 13:34:24,2017-03-29 02:08:57
44,2133-021,1797,236.00,62.00,83.355556,6 days 07:39:27,2017-03-17 13:34:51,2017-03-23 21:14:18
45,2133-020,1826,201.00,40.00,70.418182,6 days 10:04:43,2017-03-17 12:56:49,2017-03-23 23:01:32
46,2133-019-2,580,168.00,63.00,51.421053,2 days 01:54:50,2017-03-15 16:37:47,2017-03-17 18:32:37
47,2133-019,1221,192.00,53.00,45.166667,4 days 07:29:40,2017-03-20 13:42:24,2017-03-24 21:12:04
48,2133-018,1775,303.00,73.00,128.200000,6 days 04:39:35,2017-03-14 13:30:04,2017-03-20 18:09:39
49,2133-017,1799,182.00,68.00,53.517857,6 days 10:04:23,2017-03-13 12:22:38,2017-03-19 22:27:01
50,2133-015,1835,213.00,58.00,47.797101,6 days 17:34:22,2017-01-30 13:33:25,2017-02-06 07:07:47
51,2133-013,1960,206.00,41.00,46.462687,8 days 07:49:13,2017-01-11 15:25:11,2017-01-19 23:14:24
52,2133-012,1809,148.00,49.00,36.120879,6 days 20:34:29,2017-01-11 14:49:44,2017-01-18 11:24:13
53,2133-011,1933,204.00,47.00,45.389610,9 days 05:54:03,2017-01-10 15:29:05,2017-01-19 21:23:08
54,2133-010,1832,143.00,62.00,30.287037,6 days 17:29:32,2016-11-21 15:28:45,2016-11-28 08:58:17
55,2133-009,1781,183.00,59.00,45.100000,6 days 04:34:44,2016-11-21 13:33:38,2016-11-27 18:08:22
56,2133-008,1805,137.00,49.00,30.567010,6 days 07:34:31,2016-11-22 00:03:05,2016-11-28 07:37:36
57,2133-007,1877,207.00,65.00,47.830986,7 days 23:14:19,2016-11-01 13:30:28,2016-11-09 12:44:47
58,2133-006,1777,148.00,54.00,33.437500,6 days 04:29:35,2016-11-01 00:00:51,2016-11-07 04:30:26
59,2133-004,1776,246.00,61.00,78.862069,6 days 04:29:28,2016-09-21 00:04:11,2016-09-27 04:33:39
60,2133-003,1805,190.00,62.00,58.192982,6 days 07:04:28,2016-09-02 17:51:46,2016-09-09 00:56:14
61,2133-002,1806,163.00,60.00,33.593750,6 days 10:44:31,2016-09-09 16:02:22,2016-09-16 02:46:53
62,2133-001,1814,186.00,47.00,36.361702,7 days 00:59:29,2016-08-03 00:00:14,2016-08-10 00:59:43
63,1636-70-1010,1393,186.00,75.00,48.625000,5 days 02:04:34,2016-05-25 10:38:39,2016-05-30 12:43:13
64,1636-70-1008,1760,223.00,51.00,61.707317,6 days 04:34:32,2015-12-07 13:34:23,2015-12-13 18:08:55
65,1636-70-1005,1846,225.00,52.00,60.507042,8 days 03:24:24,2016-04-06 14:13:52,2016-04-14 17:38:16
66,1636-70-1003,1895,146.00,46.00,39.755814,7 days 07:39:28,2015-12-01 00:03:03,2015-12-08 07:42:31
67,1636-70-1002,1794,168.00,57.00,42.459770,6 days 07:34:30,2015-11-12 00:02:25,2015-11-18 07:36:55
68,1636-69-123,1905,138.00,49.00,29.847619,8 days 01:34:20,2016-02-17 00:01:50,2016-02-25 01:36:10
69,1636-69-114,1796,163.00,76.00,35.773333,6 days 06:59:31,2015-10-13 00:03:47,2015-10-19 07:03:18
70,1636-69-111,1720,135.00,48.00,26.976471,6 days 06:24:41,2015-09-15 03:41:33,2015-09-21 10:06:14
71,1636-69-107,1897,195.00,66.00,42.875000,7 days 10:09:27,2015-09-24 13:33:14,2015-10-01 23:42:41
72,1636-69-104-2,1153,140.00,46.00,35.805970,6 days 08:49:31,2016-02-17 00:20:37,2016-02-23 09:10:08
73,1636-69-104,969,152.00,61.00,36.097561,5 days 14:59:34,2015-08-05 14:46:39,2015-08-11 05:46:13
74,1636-69-100,1716,153.00,66.00,28.298507,6 days 08:49:28,2015-09-15 00:03:15,2015-09-21 08:52:43
75,1636-69-091,1803,163.00,70.00,36.440000,6 days 10:09:39,2015-11-04 14:48:20,2015-11-11 00:57:59
76,1636-69-090,1863,195.00,54.00,57.235294,6 days 23:39:38,2016-02-10 00:02:40,2016-02-16 23:42:18
77,1636-69-069,1591,187.00,69.00,49.666667,6 days 20:39:24,2015-07-20 13:33:11,2015-07-27 10:12:35
78,1636-69-064,1584,218.00,43.00,56.810811,5 days 16:14:32,2015-03-26 14:49:42,2015-04-01 07:04:14
79,1636-69-060,1821,191.00,91.00,35.487179,6 days 14:59:31,2015-11-17 15:25:53,2015-11-24 06:25:24
80,1636-69-053,1804,183.00,43.00,42.567164,6 days 16:49:39,2015-05-07 18:34:18,2015-05-14 11:23:57
81,1636-69-048,1779,144.00,63.00,27.657143,6 days 04:34:29,2015-11-26 00:36:15,2015-12-02 05:10:44
82,1636-69-035,2180,234.00,69.00,62.825397,11 days 01:04:20,2016-01-27 00:02:25,2016-02-07 01:06:45
83,1636-69-032,1783,191.00,67.00,29.622642,6 days 04:34:32,2016-01-13 12:58:17,2016-01-19 17:32:49
84,1636-69-028,1543,168.00,75.00,36.701754,5 days 19:59:40,2015-04-02 13:33:15,2015-04-08 09:32:55
85,1636-69-026,1796,182.00,62.00,55.710145,7 days 01:29:34,2015-11-24 00:37:20,2015-12-01 02:06:54
86,1636-69-001-2,1092,250.00,64.00,66.657143,4 days 03:14:35,2015-03-29 11:53:31,2015-04-02 15:08:06
87,1636-69-001,754,225.00,68.00,94.916667,2 days 14:49:45,2014-02-03 03:42:12,2014-02-05 18:31:57