In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from datetime import timedelta
from statistics import mean


#data

In [ ]:
def meanCalculations(df):
    dates = []
    times = []
    for i in range(len(xx.index)):
        dates.append(xx['Display Time'][i].date())
        times.append(xx['Display Time'][i].time())
    xx['Date'] = dates   
    xx['Time'] = times
    
    n_s = datetime.strptime("00:00:00","%H:%M:%S").time()
    n_e = datetime.strptime("06:00:00","%H:%M:%S").time()
    d_s = datetime.strptime("06:00:01","%H:%M:%S").time()
    d_e = datetime.strptime("23:59:59","%H:%M:%S").time()
    
    day_means = []
    night_means = []
    for Date, df in xx.groupby('Date'):
    #     print(Date)
        days = pd.DataFrame()
        night = pd.DataFrame()
        day_readings = (df['Time'] >= d_s) & (df['Time'] <= d_e)
        night_readings = (df['Time'] >= n_s) & (df['Time'] <= n_e)
        days = df.loc[day_readings]
        night = df.loc[night_readings]
        if (days.empty) == False:
            day_means.append(mean(days.GlucoseValue))
        if (night.empty) == False:
            night_means.append(mean(night.GlucoseValue))
            
    return mean(day_means), mean(night_means)

In [2]:
data = pd.read_csv("~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/consolidatedDataForPackage.csv")
data['Display Time'] = pd.to_datetime(data['Display Time'])
data['GlucoseValue'] = pd.to_numeric(data['GlucoseValue'])
xx = data[data['subjectId'] == "OD552"]
print(xx.dtypes)
xx.head(10)

Display Time    datetime64[ns]
GlucoseValue           float64
subjectId               object
dtype: object

              Display Time  GlucoseValue subjectId
272473 2025-04-16 11:17:05          95.0     OD552
272474 2025-04-16 11:22:05          86.0     OD552
272475 2025-04-16 11:27:05          81.0     OD552
272476 2025-04-16 11:32:05          81.0     OD552
272477 2025-04-16 11:37:05          82.0     OD552
272478 2025-04-16 11:42:05          82.0     OD552
272479 2025-04-16 11:47:05          84.0     OD552
272480 2025-04-16 11:52:05          88.0     OD552
272481 2025-04-16 11:57:05          98.0     OD552
272482 2025-04-16 12:02:05         110.0     OD552

In [3]:
def fullDay(data):
        
    dates = list()
    data = data.reset_index(drop=True)
    for i in range(0,len(data.index)):
        dates.append(data['Display Time'][i].date())
    data['Dates'] = dates
    end = data['Dates'].iloc[-1]
    start = data['Dates'].iloc[0]

    indexVals = data[ data['Dates'] == start ].index
    # indexVals
    data.drop(indexVals , inplace=True)

    indexVals = data[ data['Dates'] == end ].index
    # indexVals
    data.drop(indexVals , inplace=True)

    data = data.reset_index(drop=True)

    data.drop(['Dates'], axis=1, inplace=True)

    return data

In [4]:
xx = fullDay(xx)
xx.head()

         Display Time  GlucoseValue subjectId
0 2025-04-17 00:02:07          81.0     OD552
1 2025-04-17 00:07:07          80.0     OD552
2 2025-04-17 00:12:07          80.0     OD552
3 2025-04-17 00:17:07          81.0     OD552
4 2025-04-17 00:22:07          82.0     OD552