In [2]:
import pandas as pd
import glob

In [19]:
l = glob.glob("/Users/snehgajiwala/Desktop/NCSA_genomics/Data/Ohio-Data/OhioT1DM-training/CSV/*.csv")

for s in l:
    data = pd.read_csv(s)
    x = s.rfind("/")
    y = s.rfind('-')
    ID = s[x+1:y]
    y = ID.find('-')
    fname = "OD"+ID[0:y]
    data['subjectId'] = ID
data

                       _ts  _value subjectID
0      07-12-2021 01:17:00     101    559-ws
1      07-12-2021 01:22:00      98    559-ws
2      07-12-2021 01:27:00     104    559-ws
3      07-12-2021 01:32:00     112    559-ws
4      07-12-2021 01:37:00     120    559-ws
...                    ...     ...       ...
10791  17-01-2022 23:36:00     161    559-ws
10792  17-01-2022 23:41:00     164    559-ws
10793  17-01-2022 23:46:00     168    559-ws
10794  17-01-2022 23:51:00     172    559-ws
10795  17-01-2022 23:56:00     176    559-ws

[10796 rows x 3 columns]