In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
data = pd.read_csv('~/Desktop/NCSA_genomics/Python - notebooks//TSForecasting/Data/consolidatedDataForPackage.csv')

In [17]:
data

               Display Time  Unnamed: 0 subjectId  GlucoseValue
0       2016-06-21 00:00:00         0.0     GVP01         197.0
1       2016-06-21 00:15:00         1.0     GVP01         208.0
2       2016-06-21 00:30:00         2.0     GVP01         226.0
3       2016-06-21 00:45:00         3.0     GVP01         241.0
4       2016-06-21 01:00:00         4.0     GVP01         250.0
...                     ...         ...       ...           ...
316522  2025-06-28 23:36:00         NaN     OD584         206.0
316523  2025-06-28 23:41:00         NaN     OD584         208.0
316524  2025-06-28 23:46:00         NaN     OD584         213.0
316525  2025-06-28 23:51:00         NaN     OD584         224.0
316526  2025-06-28 23:56:00         NaN     OD584         235.0

[316527 rows x 4 columns]

In [18]:
data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [19]:
data['Display Time'] = data['Display Time'].apply(lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
data = data.set_index(['Display Time'], drop=True)

In [20]:
data

                    subjectId  GlucoseValue
Display Time
2016-06-21 00:00:00     GVP01         197.0
2016-06-21 00:15:00     GVP01         208.0
2016-06-21 00:30:00     GVP01         226.0
2016-06-21 00:45:00     GVP01         241.0
2016-06-21 01:00:00     GVP01         250.0
...                       ...           ...
2025-06-28 23:36:00     OD584         206.0
2025-06-28 23:41:00     OD584         208.0
2025-06-28 23:46:00     OD584         213.0
2025-06-28 23:51:00     OD584         224.0
2025-06-28 23:56:00     OD584         235.0

[316527 rows x 2 columns]

In [21]:
data.to_csv('~/Desktop/NCSA_genomics/Python - notebooks//TSForecasting/Data/consolidatedDataForPackage.csv')