In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings  
warnings.filterwarnings('ignore')

In [2]:
def subSample(data):
        """
            Sampling a time-series at 15 minute intervals
            Input:
                data: time-series with irregular intervals
            Output:
                data: time-series with 15 minute intervals
        """ 
        data['Display Time'] = pd.to_datetime(data['Display Time'])
        data['time_gap'] = data['Display Time'].shift(1)-data['Display Time'][0]
        data['time_gap'][0] = '00:00:00'
        mods = [0,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899]
        subset = pd.DataFrame()
        for i in range(1,len(data.index)):
            seconds = data['time_gap'][i].total_seconds()
            if (seconds%900) in mods:
                subj_id = data['subjectId'][i]
                gv = data['GlucoseValue'][i]
                dt = data['Display Time'][i]
                temp_df = pd.DataFrame({'Display Time':[dt], 'GlucoseValue':[gv], 'subjectId':[subj_id]})
                subset = pd.concat([temp_df,subset],ignore_index=True)
        subset = subset.iloc[::-1]
        subset = subset.reset_index(drop=True)
        data.drop(['time_gap'], axis=1, inplace=True)
        return subset

In [3]:
data = pd.read_csv("~/Desktop/NCSA_genomics/Python - notebooks/TSForecasting/Data/consolidatedDataForPackage.csv")
print(data.dtypes)
data.head()

Display Time     object
GlucoseValue    float64
subjectId        object
dtype: object

          Display Time  GlucoseValue subjectId
0  2016-06-21 00:00:00         197.0     GVP01
1  2016-06-21 00:15:00         208.0     GVP01
2  2016-06-21 00:30:00         226.0     GVP01
3  2016-06-21 00:45:00         241.0     GVP01
4  2016-06-21 01:00:00         250.0     GVP01

In [6]:
data['Display Time'] = pd.to_datetime(data['Display Time'])
df = data[data['subjectId']=='GVP01']
df=df.reset_index(drop=True)
print(df.dtypes)
display(df)

Display Time    datetime64[ns]
GlucoseValue           float64
subjectId               object
dtype: object

           Display Time  GlucoseValue subjectId
0   2016-06-21 00:00:00         197.0     GVP01
1   2016-06-21 00:15:00         208.0     GVP01
2   2016-06-21 00:30:00         226.0     GVP01
3   2016-06-21 00:45:00         241.0     GVP01
4   2016-06-21 01:00:00         250.0     GVP01
..                  ...           ...       ...
571 2016-06-26 22:45:00         101.0     GVP01
572 2016-06-26 23:00:00         104.0     GVP01
573 2016-06-26 23:15:00          99.0     GVP01
574 2016-06-26 23:30:00          85.0     GVP01
575 2016-06-26 23:45:00          72.0     GVP01

[576 rows x 3 columns]

In [7]:
subsample = subSample(df)
subsample

           Display Time  GlucoseValue subjectId
0   2016-06-21 00:15:00         208.0     GVP01
1   2016-06-21 00:30:00         226.0     GVP01
2   2016-06-21 00:45:00         241.0     GVP01
3   2016-06-21 01:00:00         250.0     GVP01
4   2016-06-21 01:15:00         262.0     GVP01
..                  ...           ...       ...
570 2016-06-26 22:45:00         101.0     GVP01
571 2016-06-26 23:00:00         104.0     GVP01
572 2016-06-26 23:15:00          99.0     GVP01
573 2016-06-26 23:30:00          85.0     GVP01
574 2016-06-26 23:45:00          72.0     GVP01

[575 rows x 3 columns]